
/* Date tool css */
.dateContainer {
    padding: 1em 0;
    fill: #aaaaaa;
    user-select: none;
}
.dateScrollCont {
    display: inline-block;
    width: 40em;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
.dateBox, .scrollBox{
    box-sizing: border-box;
    display: inline-block;
    height: 5.5em;
    border: 0.1rem solid #aaaaaa;
    color: #666666;
    border-radius: 0.2rem;
    text-align: center;
    vertical-align: top;
}
.dateBox {
    padding: 0.3em;
    width: 4em;
}
.scrollBox {
    width: 3em;
    padding: 2em 0;
}
.scrollBox > svg {
    height: 100%;
    width: auto;
}
.dateBox > span {
    display: block;
    font-weight: normal;
}
.dateBox > .date {
    font-weight: bold;
    font-size: 1.4rem;
}
.dateBox:hover, .scrollBox:hover {
    cursor: pointer;
    fill: #000000;
    border-color: #000000;
    color: #000000;
    box-shadow: 0.1rem 0.1rem #aaaaaa;
}
.selectedDate{
    background-color: #fa8989;
}
.dateTable {
    border-collapse: collapse;
    text-align: center;
}
.dateTable th, .dateTable td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.dateTable td:nth-child(1) {
    text-align: left;
    padding: 0.2em 0;
}
/* End date tool css */
