{{ define "edit" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/served/favicon.ico">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/served/css/main.css">
    <link rel="stylesheet" href="/served/css/datetool.css">
    <link rel="stylesheet" href="/served/css/new.css">
    <script type="application/ecmascript" src="/served/js/helpers.js"></script>
    <script type="application/ecmascript" src="/served/js/datetool.js"></script>
    <script type="application/ecmascript" src="/served/js/edit.js"></script>
</head>
<body>

<div id="linkArea" class="hidden">
<div>Share this link with the other participants:</div>
<a id="userLink" target="_self"></a>
<div>Use this link to administer the meet up:</div>
<a id="adminLink" target="_self"></a>
</div>

<div class="editArea">
    <div>
        <label for="adminEmail">Email:</label><input id="adminEmail" type="email">
    </div>
    <div>
        <label for="notifications">Notifications:</label><input id="notifications" type="checkbox" title="Send me email notifications.">
    </div>
    <div>
        <label for="description">Description:</label><textarea id="description"></textarea>
    </div>
    <div id="dateContainer" class="dateContainer"></div>
    <button id="saveButt" type="button">Save</button><button id="deleteButt" class="hidden" type="button">Delete</button><button id="cancelButt" type="button">Cancel</button>
</div>
<div id="errorArea" class="errorArea hidden"></div>
</body>
</html>
{{ end }}