<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/served/favicon.ico">
    <title>View your meetup</title>
    <link rel="stylesheet" href="/served/css/main.css">
    <link rel="stylesheet" href="/served/css/view.css">
    <script type="application/ecmascript" src="/served/js/helpers.js"></script>
    <script type="application/ecmascript" src="/served/js/view.js"></script>
</head>
<body>

<div>
    <div class="shareText">Share this link with other participants:</div>
    <div class="shareLink"></div>
</div>
<div class="meetupCont">
    <div class="description"></div>
    <div class="columnsContainer"></div>
    <div><div id="errorArea" class="errorArea hidden"></div></div>
    <button id="saveButt" class="saveButt" type="submit">Save</button>
</div>
</body>
</html>